@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::root {
  scrollbar-color: rgb(216, 216, 216);
  scrollbar-width: 3px;
  scrollbar-track-color: transparent;
}

@layer base {
  body {
    @apply dark:text-light dark:bg-dark;
  }
}

@layer components {
  li:has(a.active) {
    @apply bg-slate-600;
  }
  .td-class {
    @apply px-4 py-3 relative pt-8 text-gray-900 bg-gray-200 first:rounded-t-lg last:rounded-b-lg sm:first:rounded-t-none sm:last:rounded-b-none sm:first:rounded-tl-lg sm:first:rounded-bl-lg sm:last:rounded-tr-lg sm:last:rounded-br-lg;
  }

  .tr-class {
    @apply flex flex-col mb-4 sm:table-row;
  }

  .action-btn:hover + div,
  .action-btn:focus + div,
  .action-btn:focus-visible + div {
    @apply block;
  }
}
